 
:root.theme-light {
  /* fonts */
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  
  /* weights */
  --main-font-weight: 400;
  --main-font-bold-weight: 700;

  /* main colors */
  --background-color: #fff;
  --accent-color: rgb(0 0 0);
  --accent-color-transparent: rgb(0 0 0 / 60%);
  --button-text-color: #fff;

  /* heart SVG */
  --sparks-fill-color: #f00;
  --sparks-fill-color-transparent: rgb(255 0 0 / 0%);
  --contour-color: rgb(0 0 0);
  --core-color: rgb(0 0 0);
  --core-color-transparent: rgb(0 0 0 / 0%);
  --main-body-color: rgb(0 0 0);
  --main-body-color-transparent: rgb(0 0 0 / 0%);
  --contour-active-color: #f00;
  --core-active-color: #f00;
  --main-body-active-color: #f00;

  /* transforms */
  --transform-time: 0.3s;
  --transition-function: ease;

  /* border */
  --border-width: 2px;
}

:root.theme-dark {
    --main-font-weight: 465;
    --main-font-bold-weight: 785;
    --background-color: #000;
    --accent-color: rgb(0 204 20);
    --accent-color-transparent: rgb(0 204 20 / 60%);
    --button-text-color: rgb(0 204 20);
    --contour-color: rgb(0 204 20);
    --core-color: rgb(0 204 20);
    --core-color-transparent: rgb(0 204 20 / 0%);
    --main-body-color: rgb(0 204 20);
    --main-body-color-transparent: rgb(0 204 20 / 0%);
    --contour-active-color: #f00;
    --core-active-color: #f00;
    --main-body-active-color: #f00;
    --background-gradient-color: rgb(0 0 0);
    --background-color-from: #007f0c;
    --background-color-to: #004306;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-weight: 465;
        --main-font-bold-weight: 785;
        --background-color: #000;
        --accent-color: rgb(0 204 20);
        --accent-color-transparent: rgb(0 204 20 / 60%);
        --contour-color: rgb(0 204 20);
        --core-color: rgb(0 204 20);
        --core-color-transparent: rgb(0 204 20 / 0%);
        --main-body-color: rgb(0 204 20);
        --main-body-color-transparent: rgb(0 204 20 / 0%);
        --button-text-color: rgb(0 204 20);
        --contour-active-color: #f00;
        --core-active-color: #f00;
        --main-body-active-color: #f00;
    }
}

