:root {
  /* foonts */
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";

  /* weights */
  --main-font-weight: 400;
  --main-font-bold-weight: 700;

  /* main colors */
  --background-color: #fff;
  --accent-color: rgb(0 0 0);
  --accent-color-transparent: rgb(0 0 0 / 60%);
  --button-text-color: #fff;

  /* heart SVG */
  --sparks-fill-color: #f00;
  --sparks-fill-color-transparent: rgb(255 0 0 / 0%);
  --contour-color: rgb(0 0 0);
  --core-color: rgb(0 0 0);
  --core-color-transparent: rgb(0 0 0 / 0%);
  --main-body-color: rgb(0 0 0);
  --main-body-color-transparent: rgb(0 0 0 / 0%);
  --contour-active-color: #f00;
  --core-active-color: #f00;
  --main-body-active-color: #f00;

  /*gradient*/
  --background-gradient-color: rgb(211 211 211);
  --background-color-from: #e7e7e7;
  --background-color-to: #1a1a1a;

  /* transforms */
  --transform-time: 0.3s;
  --transition-function: ease;

  /* border */
  --border-width: 2px;
}